<section>
  <h1 class="mt-2 text-center">New Recipe</h1>
  <hr>
  <%= form_with url: "/recipes", method: :post, scope: :recipe, class: 'form-body' do |form| %>
    <div class="form-group">
      <%= form.label :Name %>
      <br>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :Preparation_time %>
      <br>
      <%= form.text_field :preparation_time, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :Cooking_time %>
      <br>
      <%= form.text_field :cooking_time, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :Description %>
      <br>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-check">
      <%= form.label(:public, class: 'form-check-label') %>
      <%= form.check_box(:public, class: 'form-check-input') %>
    </div>

    <div class="actions"><%= form.submit class: 'btn btn-primary' %></div>
  <% end %>
</section>
