<div class="form">
  <h1>New Recipe</h1> 
  <%= form_with url: "/recipes", method: :post, scope: :recipe, class:"form-body" do |form| %>
    <div>
      <%= form.label :Name%> <br>
      <%= form.text_field :name%>
    </div>

    <div>
      <%= form.label :Preparation_time%> <br>
      <%= form.text_field :preparation_time%>
    </div>

    <div>
      <%= form.label :Cooking_time%> <br>
      <%= form.text_field :cooking_time%>
    </div>
  
    <div>
      <%= form.label :Description%> <br>
      <%= form.text_area :description%>
    </div>

    <div>
      <%= form.label :public %>
      <%= form.check_box :public %> 
    </div> 

    <%= form.submit%>
  <%end%>
</div>