<h1 class="mt-2 text-center"><%= @recipe.name %></h1>
<hr>
<div class="container mt-5" style="clear:both;">
  <div class='d-flex info-recipe justify-content-between '>
    <div class=''>
      <p class='mb-3 fs-5 fw-bold'>
        Preparation time: 
        <span class="fw-normal"><%=@recipe.preparation_time%></span> 
      </p>
      <p class='mb-3 fs-5 fw-bold'>
        Cooking time: 
        <span class="fw-normal"><%=@recipe.cooking_time%></span> 
      </p>
    </div>
    <div class=''>
      <h3>Public<h3>
      <label class="switch">
        <input type="checkbox" <% if @recipe.public %>checked<% end %> disabled>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <p class='mb-3 fs-5'><%= @recipe.description %></p>
  <div class='d-flex info-recipe justify-content-between '>
    <%=link_to 'Generate shopping list', shopping_list_path, class: 'btn btn-primary' %>
    <% if can? :create, @recipe %>
      &nbsp;&nbsp;<%= link_to 'Add new ingredient', new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <p>&nbsp;</p>

  <% unless @recipe_foods.empty? %>
    <table class="table">
      <%= render 'thead' %>
      <tbody>
        <%= render @recipe_foods %>
      </tbody>
    </table>
    <p>&nbsp;</p>
  <% else %>
    <%= render html: '<p /><h1>You have no Foods in the recipe</h1>'.html_safe %>
  <% end %>
</div>
