<h1><%= @recipe.name %></h1>
<div class="column col-center width-60 gap-1">
  <div class="row row-justify">
    <div class="column">
      <h2>Preparation Time: <%= @recipe.preparation_time %></h2>
      <h2>Cooking Time: <%= @recipe.cooking_time %></h2>
    </div>
    <div>
      <h3>Public<h3>
      <label class="switch">
        <input type="checkbox" <% if @recipe.public %>checked<% end %> disabled>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <p><%= @recipe.description %></p>
  
  <div class="row row-justify">
    <%=link_to shopping_list_path, :class => 'btn' do%>
      <h4>Generate shopping list</h4>
    <%end%>
    <% if can? :create, @recipe %>
      <%=link_to new_food_path, :class => 'btn' do%>
        <h4>Add new ingredent</h4>
      <%end%>
    <% end %>
  </div>

  <table class="width-100">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @recipe_foods.empty? %>
      <tr><td>Please, add foods to the recipe</td></tr>
      <% else %>
        <% @recipe_foods.each do |food| %>
          <tr>    
            <td><%= food.food.name %></td>
            <td><%= food.quantity %></td>
            <td><%= food.food.price %></td>
            <td>
              <% if can? :update, food.recipe %>
                <%=link_to "Modify", edit_food_path(food.food.id) %>
              <% end %>
              <% if can? :destroy, food.recipe %>
                <%= link_to "Remove", food_path, data: { turbo_method: :delete } %>
              <% end %>
            </td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
  <p></p>
</div>
