<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to image_tag('https://cdn-icons-png.flaticon.com/512/1397/1397128.png', size: '55'), root_path, class: 'nav-brand' %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Foods', foods_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Recipes', recipes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Shopping List', shopping_list_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Public Recipes', public_recipes_path, class: 'nav-link' %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
