<%= link_to "Home", root_path, class: "home-btn" %>
<h1>Shopping List</h1>

<div>Amount of food to buy:
  <%= @items.length %></div>
<div>Total value of food needed: $<%= @total %></div>

<div>
  <table>
    <%= render 'thead' %>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td>
            <%= item.quantity %>
            <%= item.measurement_unit %>
          </td>
          <td>$<%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
