<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.price %></td>
  <td><%= food.quantity %></td>
  <td>
    <% unless food.recipe_foods.exists? %>
      <%= link_to 'Delete', food_path(food), 
        data: { turbo_confirm: "Are you sure?", turbo_method: :delete },
        class: 'btn btn-sm btn-danger' %>
    <% end %>
  </td>
</tr>
