<section>
  <h1 class="mt-2 text-center">New Food</h1>
  <hr/>
  <div class="container mt-5" style="clear:both;">
    <%= form_with model: @food, url: foods_path, scope: :food do |form| %>
      <div class="form-group">
        <%= form.label :Name %>
        <br>
        <%= form.text_field :name, placeholder: :Name, required: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :Measurement_Unit %>
        <br>
        <%= form.text_field :measurement_unit, placeholder: :Measurement_Unit, required: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :Unit_Price %>
        <br>
        <%= form.number_field :price, step: 1, placeholder: :Unit_Price, required: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :Quantity %>
        <br>
        <%= form.number_field :quantity, step: 1, placeholder: "Quantity", required: true, class: 'form-control' %>
      </div>
      <div class="actions"><%= form.submit class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</section>
